<!DOCTYPE html>
<html>
 <head>
   <link rel="stylesheet" type="text/css" href="css/style.css">
  <meta charset="UTF-8">
  <title>Book Group Project v0.1</title>
 </head>
 <body>
   <h1>Book Surf</h1>
   <div style="position:width:100%;text-align:center;">
    <form method="POST" action="/results">
      <p>Please enter a book title</p>   <input type='text' name='book'>
      <input type="submit" name="send" value="Submit"/>
    </form>
   </div>
 </body>
</html>
